<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
    <p class="col-md-8 fs-4">This quiz contains 10 Questions each question have 10 points.</p>
    <h4>Rules:</h4>
    <ol>
        <li>Each question contain 10 points.</li>
        <li>Passing mark is 40</li>
        <li>You will have 60 sec for each questions</li>
    </ol>
    <h1 style="font-family: cursive;text-align: center;">All the best!</h1>
    <div class="col-md-4 my-3">
        <label>Enter your name:</label>
        <input #name type="text" class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/Question" (click)="startQuiz()">Start the quiz</button>
</div>